/*formulario (la clase la tiene el section)*/
.formulario {
    margin: 80px auto 20px;
    width: 500px;
}
.formulario  p *{
    border: 2px solid #000000;
    font-family: 'Karla', sans-serif;
    height: 40px;
    margin-top: 20px;
    width: 500px;
}
.botones *{
    border-radius: 15px;
    border: none;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    margin-top: 40px;
    width: 240px;
}
.reset{
    background-color: #888888;
    color: #ffffff;
    margin-right: 10px;
}
.submit{
    background-color: #1CD1B0;
    color: #000000;
}
.submit-solo{
    background-color: #1CD1B0;
    color: #000000;
    width: 500px; /*el doble de lo normal + 10px (teniendo en cuenta el margen entre los dos) porque no hay input type="reset"*/
}
.formulario textarea{
    height: 200px;
    word-wrap: break-word;
}
.tenes-cuenta{
    color: #00669F;
}
.tenes-cuenta a{
    text-decoration: none;
}

/* !!!!!!!------form para el agregar.html (clase 10)------!!!!!!!!*/

.agregar{
    background-color: #00669F;
    border-radius: 40px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
    color: white;
    margin: 50px auto 50px;
    width: 860px;
}
.agregar h3{
    color: white;
    font-family: 'Inter', sans-serif;
    line-height: 72px;
    margin: 0px;
}
.agregar p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
.agregar form{
    column-count: 2; /*usé una distribución de columnas*/
    column-gap: 25px;
    margin-top: 20px;
    padding: 0px 90px;
    text-align: left;
}
.agregar div{ /*solo sirve para explicitar una altura del conjunto de label + input de nombre, fecha, agregar foto y especie (para que sean igual de altos)*/
    height: 120px;
}
.agregar label, .agregar legend{ /*general para los estilos de la mayoría de labels*/
    color: white;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
/*---input en general---*/
.agregar input, .agregar textarea, .agregar select{
    border-radius: 12px;
    border: 2px solid #dddddd;
    color: #000000;
    outline: none;
    width: 100%;
    font-size: 20px;
    height: 60px;
    line-height: 48px;
    margin: 10px 0px;
    padding: 5px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

/*---funcionalidad de input válido, inválido, etc---*/
input:required:not(:focus):valid{ 
    border: 2px solid green;
}
select:required:not(:focus):valid{ 
    border: 2px solid green;
}
input:required:not(:empty):not(:focus):invalid{ /*no surge porque el formulario es muy básico, no hay forma de conseguir inputs inválidos*/
    border: 2px solid red;
}
input:focus{
    background-color: #AFF9FE;
}
.requerido::before{ /*no encontré forma de hacer que dinámicamente desaparezca al ser completado el campo*/
    content: "*";
}

/* --- input textarea (descripción) ---*/
.agregar textarea{
    font-size: 16px;
    height: 325px;
    margin-top: 20px;
    padding: 10px;
    resize: none;
}
.agregar textarea::placeholder{ /*sólo afecta al placeholder*/
    font-size: 20px;
}
/* --- input select (especie) --- */
.agregar select{
    font-size: 20px;
    height: 60px;
    line-height: 48px;
    margin: 10px 0px;
    padding: 5px;
}
.agregar select:required:invalid{ /*hace clarito al "placeholder" de especie*/
    color: rgba(0, 0, 0, 0.5);
}
/* --- input file (agregar foto) ---*/

.agregar input[type="file"]{
    border-radius: 0px;
    border: none;
    line-height: 0px;
    margin-top: 25px;
    font-size: 16px;
    padding: 0px;
}
.agregar input[type="file"]::-webkit-file-upload-button{ /*el pseudoelemento aplica estilos al botón gris de "Choose File"*/
    background-color: #CECECE;
    border-radius: 5px;
    border: none;
    height: 30px;
    text-align: left;
    width: 60%;
}
.agregar input[type="file"]::-webkit-file-upload-button:hover{
    background-color: #ACACAC;
}
/* --- input checkbox (poderes) ---*/
.agregar fieldset{
    border: none;
    margin-top: 20px;
    text-align: left;
}
.agregar fieldset legend{
    margin-bottom: 10px;
}

/*googleé como hacer checkmarks personalizados en w3schools(cambiar fondo, tamaño, hover, etc)*/
.agregar fieldset label.container-check{ /*el "label" va sólo para ganar la prioridad*/
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
    padding-left: 35px;
    position: relative;
    width: 85%;
}
.agregar fieldset input[type="checkbox"]{ /*desaparecen los checkmarks originales*/
    height: 0;
    opacity: 0;
    width: 0;
}
.agregar .checkmark { /*es el checkmark nuevo customizado*/
    background-color: #eeeeee;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    height: 20px;
    left: 0;
    position: absolute;
    width: 24px;
}
.agregar .container-check:hover input ~ .checkmark { /*cuando tengo el mouse encima*/
    background-color: #ccc;
  }
.agregar .container-check input:checked ~ .checkmark { /*cuando lo selecciono*/
    background-color: #34CEFF;
}
.agregar .checkmark:after {
    content: "";
    display: none;
    position: absolute;
}
.agregar .container-check input:checked ~ .checkmark:after {
    display: block;
}
.agregar .container-check .checkmark:after { /*esto me arma el tick blanco*/
    -ms-transform: rotate(45deg); /*compatible con IE*/
    -webkit-transform: rotate(45deg); /*solo para compatibilidad (Chrome, Opera 12, Safari 3)*/
    left: 7px;
    top: 1px;
    border: solid white; /*por algún motivo, si border va DESPUÉS de border-width (contrario al orden alfabetico) se "duplica" y el tick se vuelve un rectangulo (como si el tick se duplicara complementariamente*/
    border-width: 0px 3px 3px 0px;
    height: 10px;
    transform: rotate(45deg);
    width: 5px;
}

.agregar hr{
    margin: 20px 0px;
}
/* --- input radio (tipo de personaje) --- */

/*googleé como hacer checkmarks (para radio le puse radiomark) personalizados en w3schools(cambiar fondo, tamaño, hover, etc)*/
.agregar .container-radio{
    display: inline-block;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    margin: 5px 0px;
    padding-left: 30px;
    position: relative;
    width: 85%;
}
.agregar .container-radio input {
    height: 0;
    opacity: 0;
    width: 0;
}
.agregar .radiomark {
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #c4c4c4;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}
.agregar .container-radio:hover input ~ .radiomark {
    background-color: #ccc;
}
.agregar .container-radio input:checked ~ .radiomark {
    background-color: #ffffff;
    border: 2px solid #34ceff;
}
.agregar .container-radio input:checked ~ .radiomark:after {
    display: block;
}
.agregar .container-radio .radiomark:after {
    background: #34CEFF;
    border-radius: 50%;
    content: "";
    display: none;
    height: 80%;
    left: 10%;
    position: absolute;
    top: 10%;
    width: 80%;
}

/*---botón que dice añadir---*/
.agregar input[type="submit"]{
    background-color: #1CD1B0;
    border-radius: 20px;
    border: none;
    column-span: all;/*para que ocupe todas las columnas en vez de solo 1*/
    display: block;
    font-size: 40px;
    font-weight: 700;
    height: 84px;
    margin: 25px auto 20px;
    position: relative; /*si no lo uso es como que el botón no tiene margen pero lo que vemos sí (el fondo verde y "añadir")*/
    width: 60%;
}
.agregar input[type="submit"]:hover{
    background-color: #001D2D;
    color: #ffffff;
    height: 94px;
    cursor: pointer; 
    width: 65%;
    margin: 20px auto 15px;
}

/*-----------------*/


