/*formulario (la clase la tiene el section)*/
.formulario {
    margin: 80px auto 20px;
    width: 500px;
}
.formulario  p *{
    border: 2px solid #000000;
    font-family: 'Karla', sans-serif;
    height: 40px;
    margin-top: 20px;
    width: 500px;
}
.botones *{
    border-radius: 15px;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    margin-top: 40px;
    width: 240px;
    border: none;
}
.reset{
    background-color: #888888;
    color: #ffffff;
    margin-right: 10px;
}
.submit{
    background-color: #1CD1B0;
    color: #000000;
}
.submit-solo{
    background-color: #1CD1B0;
    color: #000000;
    width: 500px; /*el doble de lo normal + 10px (teniendo en cuenta el margen entre los dos) porque no hay input type="reset"*/
}
.formulario textarea{
    height: 200px;
    word-wrap: break-word;
}
.tenes-cuenta{
    color: #00669F;
}
.tenes-cuenta a{
    text-decoration: none;
}

/* !!!!!!!------para el agregar.html (clase 10)------!!!!!!!!*/

.agregar{
    background-color: #00669F;
    border-radius: 40px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
    color: white;
    margin: 50px auto 20px;
    width: 860px;
}
.agregar h3{
    color: white;
    font-family: 'Inter', sans-serif;
    line-height: 72px;
    margin: 0px;
}
.agregar p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
.agregar-formulario{
    column-count: 2;
    column-gap: 5px;
    margin-top: 20px;
    padding: 0px 90px;
    text-align: left;
}
.form-pequeño{ /*solo sirve para explicitar una altura del conjunto de label + input de nombre, fecha, agregar foto y especie (para que sean igual de altos)*/
    height: 120px;
}
.agregar-label { /*general para los estilos de la mayoría de labels*/
    color: white;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.agregar-legend{ /*general para las dos legends de los dos fieldsets*/
    color: white;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}
/*---input en general(afecta a nombre, fecha y especie)---*/
.agregar-input {
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: #000000;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 300;
    height: 60px;
    margin: 10px 0px;
    width: 90%;
}
/* --- input textarea (descripción) ---*/
.agregar-textarea{
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    height: 300px;
    line-height: 48px;
    margin-top: 20px;
    resize: none;
    width: 90%;
}
/* --- input select (especie) --- */
.agregar-select{
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    height: 60px;
    line-height: 48px;
    margin: 10px 0px;
    width: 90%;
}
select:required:invalid{ /*hace clarito al "placeholder" especie*/
    color: rgba(0, 0, 0, 0.5);
}
/* --- input file (agregar foto) ---*/
.agregar-foto {
    background-color: #CECECE;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 90px;
    line-height: 80px;
    margin: 25px 0px;
    padding: 5px 50px 5px 10px;
    width: 80px;
}
.agregar-foto:hover{
    background-color: #ACACAC;
}
.agregar-foto-input{
    clip-path: inset(0px 0px 0px 90px); /*vuelve invisible parte (90px desde la izquierda) del elemento (choose file/input type="file") -- no me gusta pero me rendí, es la que encontré que funciona sin JS*/
    color: #000000;
    left: 112px;
    overflow: hidden;
    position: relative;
    top: -51px;
}
/* --- input checkbox (poderes) ---*/
.agregar-checkbox{
    border: none;
    margin-top: 20px;
    text-align: left;
}
.agregar-checkbox input{
    border: 1px solid #C4C4C4;
    height: 20px;
    width: 20px;
}
/*googleé como hacer checkmarks personalizados en w3schools(cambiar fondo, tamaño, hover, etc)*/
.container-check{
    color: #ffffff;
    display: block;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
    padding-left: 35px;
    position: relative;
    width: 85%;
}
.container-check input{ /*desaparecen los checkmarks originales*/
    height: 0;
    opacity: 0;
    width: 0;
}
.checkmark {
    background-color: #eeeeee;
    border-radius: 5px;
    border: 2px solid #c4c4c4;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}
.container-check:hover input ~ .checkmark { /*cuando tengo el mouse encima*/
    background-color: #ccc;
  }
.container-check input:checked ~ .checkmark { /*cuando lo selecciono*/
    background-color: #34CEFF;
}
.checkmark:after {
    content: "";
    display: none;
    position: absolute;
}
.container-check input:checked ~ .checkmark:after {
    display: block;
}
.container-check .checkmark:after { /*esto me arma el tick blanco*/
    left: 6px;
    -ms-transform: rotate(45deg);     /*compatible con IE*/
    -webkit-transform: rotate(45deg);     /*solo para compatibilidad (Chrome, Opera 12, Safari 3)*/
    border: solid white; /*por algún motivo, si border va DESPUÉS de border-width (contrario al orden alfabetico) se "duplica" y el tick se vuelve un rectangulo (como si el tick se duplicara complementariamente*/
    border-width: 0 3px 3px 0;
    height: 10px;
    transform: rotate(45deg);
    width: 5px;
}

hr{
    margin: 20px 0px;
}
/* --- input radio (tipo de personaje) --- */
.agregar-radio{
    border: none;
    margin-top: 15px;
    text-align: left;
}
.agregar-radio label{
    display: inline-block;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    margin: 5px 0px;
    width: 85%;
}
/*googleé como hacer checkmarks (para radio le puse radiomark) personalizados en w3schools(cambiar fondo, tamaño, hover, etc)*/
.container-radio{
    display: block;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0px;
    padding-left: 30px;
    position: relative;
    width: 85%;
}
.container-radio input {
    height: 0;
    opacity: 0;
    width: 0;
}
.radiomark {
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #c4c4c4;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}
.container-radio:hover input ~ .radiomark {
    background-color: #ccc;
}
.container-radio input:checked ~ .radiomark {
    background-color: #ffffff;
    border: 2px solid #34ceff;
}

.container-radio input:checked ~ .radiomark:after {
    display: block;
}
.container-radio .radiomark:after {
    background: #34CEFF;
    border-radius: 50%;
    content: "";
    display: none;
    height: 80%;
    left: 10%;
    position: absolute;
    top: 10%;
    width: 80%;
}

/*---botón que dice añadir---*/
.agregar-submit{
    background-color: #1CD1B0;
    border-radius: 20px;
    border: none;
    color: #000000;
    column-span: all;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    height: 84px;
    margin: 40px auto 20px;
    position: relative;
    width: 400px;
}
.agregar-submit:hover{
    background-color: #001D2D;
    color: #ffffff;
}

/*-----------------*/


