* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

/*partes distintas del body*/
.sticky {
    background-color: #1cd1b0;
    padding-left: 20px;
    position: sticky;
    top: 0px;
    z-index: 5;
}
header {
    background-color: #00669F;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: white;
    height: 70px;
}
main {
    text-align: center;
}
footer {
    background-color: #00669F;
    background-size: contain;
    color: white;
    font-weight: normal;
    height: 70px;
    padding: 25px 10px 25px;
    text-align: center;
}

/*títulos y subtítulos*/
h1 {
    font-weight: normal;
    padding: 15px 20px 15px;
}
h2 {
    font-size: 36px;
    margin-bottom: 15px;
    margin-top: 5px;
}

/*cartas en general*/
.carta{
    box-shadow: 0px 2px rgba(0, 0, 0, 0.2);
    margin: 50px 37% 50px;
}

/*imágenes de las cartas*/
.carta-imagenes {
    background-size: 150%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    height: 225px;
    position: relative;
}
.img-1{
    background-image: url("../img/bg-batman.jpg");
    background-position: 80% 50%;
}
.img-2 {
    background-image: url("../img/bg-wonderw.jpg");
    background-position: 20% 30%;
}
.img-3 {
    background-image: url("../img/bg-superman.jpg");
}
.foto-de-perfil {
    border-radius: 50%;
    bottom: -130px;
    height: 175px;
    position: relative;
    width: 175px;
}
.fa-heart{  /*es el corazoncito, cortesía de Font Awesome*/
    color: #cc2424;
    font-size: 30px;
    left: 25px;
    position: absolute;
    top: 20px;
}

/*textos de las cartas*/
.carta-textos {
    background-color: #f3f3f3;
    height: 400px;
    padding-top: 110px;
}
.carta-textos p{
    color: #333333;
    margin: 0px 25px 0px;
    text-align: left;
}
.ver-mas{ /*¿qué nombre le pondría? no me gusta nombrarlo según su contenido, es el botón que dice "ver más"*/
    background-color: #00669F;
    border-radius: 5px;
    color: white;
    line-height: 150px;
    padding: 15px 40px 15px;
    text-decoration: none;
}

/*botón fijo*/
.boton {
    background-color:#00669F;
    border-radius: 50%;
    color: white;
    font-size: 35px;
    line-height: 55px;  /*el mismo valor que el del width para ser un círculo*/
    position: fixed;
    right: 20px;
    text-decoration: none;
    top: 335px;
    width: 55px;
}
